* { 
	box-sizing: border-box;
	/*border: 1px solid red;*/
}
body {
    background-color:  rgb(56, 51, 51);
	color: white;
}
img {
	border-radius: 15px;
	height: 510px;
	width: auto;
	border: 5px rgb(2, 0, 0);
}



.content {
    grid-area: content;
    display: grid;
	grid-gap:0;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "vinstri midja haegri"; 
    height: 1000px;
}

header {
    grid-area: header;
    text-align: center;
    background-color:  rgb(56, 51, 51);
    color: aliceblue;

}

.topnav{
	grid-area: topnav;
	background-color: black;
}

nav{
	background-color: rgb(56, 51, 51);
	color: black;
}

.link{
	text-align: center;
}

.midja{
	grid-area: midja;
	box-sizing: border-box;
	border: 50px white;
	background-color: gray;
	font-family: "Hack";
	color: white;
    text-align: center;
}

.vinstri{
	grid-area: vinstri;
	box-sizing: border-box;
	border: 100px white;
	background-color: rgb(101, 95, 95);
	color: white;
    text-align: center;
}

.haegri{
	grid-area: haegri;
	box-sizing: border-box;
	border: 50px white;
	background-color: rgb(101, 95, 95);
	color: white;
    text-align: center;
}

footer {
	grid-template-areas: "left right";
    display: flex;
    flex-flow: wrap;
    align-self: left;
    color:aliceblue;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}
.right {
	grid-area: right;
	display: flex;
    flex-flow: wrap;
    align-self: left;
    color:aliceblue;
	
}

.left {
	grid-area: left;
	display: flex;
    flex-flow: wrap;
    align-self: left;
    color:aliceblue;
	width: 1000px;
	
}
div {
	color:white;
}
.images {
	display: block;
	display: flex;
	flex-flow: row;
	background-color:  rgb(56, 51, 51);

	

}

.finalLink {
	text-align: center;
	margin-left: 630px;
	font-size: xx-large;
}

a {
	color: rgb(8, 144, 193);
	font-size: x-large;
}

p4 {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
}
p3 {
    padding: 1em;
}

h2:link {
    color: rgb(rgb(255, 187, 0), rgb(22, 168, 22), rgb(48, 48, 238))
}

h2:visited {
    color: rgb(rgb(233, 249, 7), rgb(22, 168, 22), rgb(78, 78, 255))
}

h2:hover {
    color: rgb(rgb(243, 104, 18), rgb(22, 168, 22), rgb(85, 85, 255))
}